body{
  background-color: grey;
  background-image: url("../images/pexels-johannes-plenio.jpeg")
}
/* Center the search input and button */
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h1{
  text-align: center;
  color: blue;
}